@use '../../styles/layouts';

.rooms-container {
  position: absolute;
  @include layouts.fixed-header-scrollable-column;
  grid-template-columns: minmax(auto, 400px);
  width: 100%;
  overflow-y: auto;
  transition: all 500ms ease-in-out;
  z-index: 1;

  &.hide {
    transform: translateX(-120%);
  }

  .new-msg-btn {
    color: var(--white);
    background-color: var(--soft-blue);
    margin: 20px 20px 0 20px;
    font-size: 1.2rem;
  }
}

@media (min-width: 800px) {
  .rooms-container {
    position: initial;
    width: auto;

    &.hide {
      transform: none;
    }
  }
}
