.popup-menu {
  position: absolute;
  right: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
  padding: 20px;
  background-color: var(--white);
  box-shadow: 5px 10px 10px 5px var(--soft-blue-shadow);
}
