.messages-dashboard {
  position: relative;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  justify-items: center;
}

@media (min-width: 800px) {
  .messages-dashboard {
    position: initial;
    grid-template-columns: auto auto;
    justify-content: center;
  }
}
