ul {
  position: absolute;
  z-index: 2;
  top: 50px;
  right: -15px;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1px;
  transition: all 0.4s ease-in-out;
  opacity: 1;
  transform-origin: right;
  backdrop-filter: blur(10px);

  li {
    a {
      display: inline-block;
      width: 100%;
      padding: 20px;
      font-size: 20px;
      text-transform: capitalize;
      color: #fff;
      text-decoration: none;
      text-align: left;
      background-color: var(--soft-blue);
    }
  }
}

ul.hide {
  // transform: perspective(500px) rotateY(-90deg);
  transform: translateX(100%);
  opacity: 0;
}
