@use '../../styles/layouts';

.friends {
  @include layouts.fixed-header-scrollable-column;
  grid-template-columns: minmax(auto, 400px);

  a {
    font-size: 1.2rem;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
    color: var(--white);
    background-color: var(--soft-blue);
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
  }
}
