.menu-btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}

.bar {
  width: 30px;
  height: 3px;
  border-radius: 2px;
  background-color: #333;
  margin: 3px 0;
  transition: all 0.4s ease-in-out;

  &1Open {
    transform: rotate(-45deg) translate(-6px, 6px);
  }

  &2Hide {
    opacity: 0;
  }

  &3Open {
    transform: rotate(45deg) translate(-6px, -7px);
  }
}
