.message {
  max-width: 67%;

  .author {
    font-size: 0.8rem;
    margin: 0 15px;
    color: var(--almost-black);
  }

  .content {
    background-color: var(--almost-black);
    color: white;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 10px;
  }

  &.user {
    justify-self: end;

    .content {
      background-color: var(--soft-blue);
    }
  }
}
